---
layout: page
title: Music
---
<div class="row"> 
 <div class="column">
 
<div class="card">
<img class="card-img" src="/applogos/soundcloud.jpg" alt="SoundCloud" style="width:100%">

<div class="card-container">
<h4>SoundCloud</h4>

Discover, stream, and share a constantly expanding mix of music from emerging and major artists around the world. Note: This is not the official SoundCloud web app.
<br><br>
<p><strong>Free/Libre Software</strong>: No</p>
<p><strong>Checked for security</strong>: Yes</p>
<p><strong>Security notes</strong>: While this web app is open source, SoundCloud is not.</p>
<p><strong>Packager(s)</strong>: Rudra Saraswat</p>

<a style="margin-right: 16px;" href="https://github.com/Ubuntu-Web/soundcloud/releases/latest/download/install-soundcloud">Download</a><a href="https://github.com/Ubuntu-Web/soundcloud/">More information</a>
</div>
</div>
  
</div>

<div class="column">

</div>
 
<div class="column">

</div>
   
</div>
</div>
