---
layout: page
title: Social Networking
---
<div class="row"> 
 <div class="column">
 
<div class="card">
<img class="card-img" src="https://github.com/Ubuntu-Web/twitter/raw/master/icon.png" alt="Twitter" style="margin-left: auto; margin-right: auto; width: 60%;">

<div class="card-container">
<h4>Twitter</h4>

A popular social networking app. Note: This is not the official Twitter web app.
<br><br>
<p><strong>Free/Libre Software</strong>: No</p>
<p><strong>Checked for security</strong>: Yes</p>
<p><strong>Security notes</strong>: While this web app is open source, Twitter is not.</p>
<p><strong>Packager(s)</strong>: Rudra Saraswat</p>

<a style="margin-right: 16px;" href="https://github.com/Ubuntu-Web/twitter/releases/latest/download/install-twitter">Download</a><a href="https://github.com/Ubuntu-Web/twitter/">More information</a>
</div>
</div>
  
</div>

<div class="column">
 
<div class="card">
<img class="card-img" src="https://github.com/Ubuntu-Web/mastodon-online/raw/master/icon.png" alt="Mastodon" style="margin-left: auto; margin-right: auto; width: 60%">

<div class="card-container">
<h4>Mastodon.online</h4>

Follow friends and discover new ones among more than 4.4M people. Publish anything you want: links, pictures, text, video. All on a platform that is community-owned and ad-free. Note: This is not the official Mastodon.online web app.
<br><br>
<p><strong>Free/Libre Software</strong>: Yes</p>
<p><strong>Checked for security</strong>: Yes</p>
<p><strong>Security notes</strong>: None.</p>
<p><strong>Packager(s)</strong>: Rudra Saraswat</p>

<a style="margin-right: 16px;" href="https://github.com/Ubuntu-Web/mastodon-online/releases/latest/download/install-mastodon-online">Download</a><a href="https://github.com/Ubuntu-Web/mastodon-online/">More information</a>
</div>
</div>
   
</div>
 
<div class="column">

<div class="card">
<img class="card-img" src="https://github.com/Ubuntu-Web/instagram/raw/master/icon.png" alt="Instagram" style="margin-left: auto; margin-right: auto; width: 60%">

<div class="card-container">
<h4>Instagram</h4>

A popular photo and video sharing app. Note: This is not the official Instagram web app.
<br><br>
<p><strong>Free/Libre Software</strong>: No</p>
<p><strong>Checked for security</strong>: Yes</p>
<p><strong>Security notes</strong>: While this web app is open source, Instagram is not.</p>
<p><strong>Packager(s):</strong> Rudra Saraswat</p>

<a style="margin-right: 16px;" href="https://github.com/Ubuntu-Web/instagram/releases/latest/download/install-instagram">Download</a><a href="https://github.com/Ubuntu-Web/instagram/">More information</a>
</div>
</div>

</div>

<div class="column">

<div class="card">
<img class="card-img" src="https://github.com/Ubuntu-Web/facebook/raw/master/icon.png" alt="Facebook" style="margin-left: auto; margin-right: auto; width: 60%">

<div class="card-container">
<h4>Facebook</h4>

A popular social networking app. Note: This is not the official Facebook web app.
<br><br>
<p><strong>Free/Libre Software</strong>: No</p>
<p><strong>Checked for security</strong>: Yes</p>
<p><strong>Security notes</strong>: While this web app is open source, Facebook is not.</p>
<p><strong>Packager(s)</strong>: Rudra Saraswat</p>

<a style="margin-right: 16px;" href="https://github.com/Ubuntu-Web/facebook/releases/latest/download/install-facebook">Download</a><a href="https://github.com/Ubuntu-Web/facebook/">More information</a>
</div>
</div>

</div>

</div>
