---
layout: page
title: Streaming
---
<div class="row"> 
<div class="column">
 
<div class="card">
<img class="card-img" src="https://github.com/Ubuntu-Web/youtube/raw/main/icon.png" alt="YouTube" style="margin-left: auto; margin-right: auto; width: 50%;">

<div class="card-container">
<h4>YouTube</h4>

YouTube is a video streaming service by Google.
<br><br>
<p><strong>Free/Libre Software</strong>: No</p>
<p><strong>Checked for security</strong>: Yes</p>
<p><strong>Security notes</strong>: While this web app is open source, YouTube is not.</p>
<p><strong>Packager(s)</strong>: Rudra Saraswat</p>

<a style="margin-right: 16px;" href="https://github.com/Ubuntu-Web/youtube/releases/latest/download/install-youtube">Download</a><a href="https://github.com/Ubuntu-Web/youtube/">More information</a>
</div>
</div>
  
</div>

<div class="column">

<div class="card">
<img class="card-img" src="https://github.com/Ubuntu-Web/dtube/raw/main/icon.png" alt="DTube" style="margin-left: auto; margin-right: auto; width: 50%;">

<div class="card-container">
<h4>DTube</h4>

DTube is a decentralized and open source video streaming service.
<br><br>
<p><strong>Free/Libre Software</strong>: Yes</p>
<p><strong>Checked for security</strong>: Yes</p>
<p><strong>Security notes</strong>: None.</p>
<p><strong>Packager(s)</strong>: Rudra Saraswat</p>

<a style="margin-right: 16px;" href="https://github.com/Ubuntu-Web/dtube/releases/latest/download/install-dtube">Download</a><a href="https://github.com/Ubuntu-Web/dtube/">More information</a>
</div>
</div>

</div>
 
<div class="column">

</div>

</div>
